* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    justify-content: center;
    background-color: #1b2127;
   display: grid;
   grid-gap: 5px;
    grid-template: [start-row] repeat(3, minmax(auto, 150px)) [destacado] repeat(2, minmax(auto, 200px)) [end-row] / [start-columns] minmax(auto, 250px) [contenido] repeat(2, minmax(auto,250px)) [contenido2] repeat(2, minmax(auto, 250px)) [end-columns];
    grid-template-areas: "hero video video video video"
                         "hero video video video video"
                         "hero video video video video"
                         "hero chat chat chat chat"
                         "hero chat chat chat chat"; 
    
}
.hero-container {
    background-color: #beabdb;
    margin: 0;
    padding: 0;
    height: 100%; 
   
}
.logo {
    background-color: #1b2127;
}

.menu p {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 5px;
}
.logo img {
    width: 80px;
    height: 35px;
    object-fit: cover;
}
h1 {
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
    color: #fff;
}

.hero {
  grid-area: hero;
  /* width: 250px; */
}

.menu p {
   margin: 10px;
}
.history {
    /* border: 1px solid yellow; */

}
.menu-list {
    /* border: 1px solid white; */
   
}
.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: .3em;
    }
.items a {
    text-decoration: none;
    text-transform: none;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 2px 5px;
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.items a:hover {
    background-color: #8451d1;
}
.videos {
    display: flex;
    justify-content: center;
    /* background-color: #abdbd3; */
    background-color: #1b2127;
    grid-area: video;
    
}
.agregar, .compartir, .guardar {
    padding: 5px 10px;
    background-color: #618f86;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.agregar:hover, .compartir:hover, .guardar:hover {
    background-color: #95b4ae;
}
.video-comentarios {
    height: 15px;
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
.botones {
    text-align: start;
    margin-left: 10px;
    
}
.container-videos h2, h4 {
    margin-left: 10px;
    color: #f2f2f2;
    text-align: start;
}
.video-youtube {
    width: 95%;
    height: 70%;
    margin: 5px;
    /* grid-auto-flow: column;  */   
}
.container-videos {
    width: 50%;
    text-align: center;
    /* display: grid; */
}

.chat {
    display: flex;
    justify-content: center;
    grid-area: chat;
    /* background-color: #abdbd3; */
    background-color: #1b2127;
}
.list-comment {
    width: 58%;
    overflow: scroll;
}
.list-comment::-webkit-scrollbar {
    display: none;
}
.user-images img {
    border-radius: 50%;
    width: 50px;
    margin: 5px;
}
.user-images {
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* margin: 0 5px; */
    margin-right: 25px;

}
.comment {
    display: flex;
    margin-bottom: 20px;
}
h3 {
    display: flex;
    color: #fff;
    /* align-items: center;
    justify-content: center; */
    width: 100%;
    margin-bottom: 5px;
}
.user-comment {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    padding: 5px;
    margin-left: 10px;
}
h5 {
    margin: 20px 0 10px 65px;
}
.list-comment input{
    width: 80%;
    height: 30px;
    margin: 0 0 10px 65px;
    border-radius: 5px;
    padding-left: 5px;
}
.list-comment h5 {
    font-size: 1em;
    color: white;
}
.suggestion {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 15px;
}
.suggestion-images {
    display: flex;
    justify-content: center;
    align-items: center;
}
.suggestion-title {
    margin-bottom: .6em;
    color: #262626;
}

/* .suggestion-title h2 {
    color: #262626;
} */
.wrapper-suggestion {
    margin: 1em;
}
.wrapper-suggestion p {
    font-size: 1em;
}
.list-suggestion {
    width: 38%;
    overflow: scroll;
}
.list-suggestion::-webkit-scrollbar {
    display: none;
}

/* .container-videos:nth-child(1) {
    
    grid-column: contenido / contenido2;
    grid-row: start-row / destacado;
}
.container-videos:nth-child(2) {
    
    grid-column: contenido2 / end-columns;
    grid-row: start-row / destacado;
} */

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:    "hero" "video"   
                                
                                "hero" "chat";
    }
    .videos {
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
    .chat {
        display: flex;
        flex-direction: column;
    }
    .suggestion {
        width: 100%;
    }
