*{
margin: 0;
padding: 0;
}
body {
    background-color: #3f3936;
}
.container {
    text-align: center;
    max-width: 1024px;
    height: 100vh;
    display: grid;
    margin: auto;
    grid-template: 1fr 6fr 1fr / 1fr 6fr; 
    font-family: Arial, Helvetica, sans-serif;
    background-color:#3f3936;
    grid-gap: 20px;
}
.header:nth-of-type(1) {
    grid-column: 1 / -1;
}
.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #e67878;
    color: #fff;
}
.box {
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    /* height: 50%; */
    display: grid;
    grid-template-rows: 2fr 1fr;
  
}
.item {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px; 
    border: 1px solid green;
    height: 15%;
    color: white;
    background-color: rgb(160, 245, 160);
    }
.conf {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 15%;
    border: 1px solid rgb(156, 156, 245);
    background-color: rgb(106, 106, 253);
    color:white;
}

.hero {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    border: 1px solid white;
}
.image {
    background-color: #97d8f1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}
.footer:nth-of-type(4) {
    grid-column: 1 / -1;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #e67878;
    color: #fff;
}